.st0{fill:#EE9681;}
	.st1{fill:#BCE3F6;}
	.st2{fill:#517CC5;}
	.st3{fill:#DEF1F8;}
	.st4{fill:#EC6469;}
	.st5{fill:none;stroke:#EC6469;stroke-linecap:round;stroke-miterlimit:10;}
	.st6{fill:none;stroke:#DEF1F8;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st7{fill:#E73555;}
	.st8{fill:#F0FAFF;}
	.st9{fill:#E76266;}
	.st10{fill:#EE4652;}
	.st11{fill:#2CA5C6;}
	.st12{fill:#292669;}
	.st13{fill:#1E1242;}
	.st14{fill:#90C8EE;}
	.st15{fill:#F9575C;}
	.st16{fill:#BB1A2C;}
	.st17{fill:#F8C6A3;}
	.st18{fill:#40BEDB;}
	.st19{fill:#2F256A;}
	.st20{clip-path:url(#SVGID_2_);fill:none;stroke:#EE9681;stroke-linecap:round;stroke-miterlimit:10;}
	.st21{fill:none;stroke:#EE9681;stroke-linecap:round;stroke-miterlimit:10;}
	.st22{fill:#FE6061;}
	.st23{fill:#ADD9EA;}
	.st24{clip-path:url(#SVGID_4_);fill:none;stroke:#EE9681;stroke-linecap:round;stroke-miterlimit:10;}